.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn-style {
  background-color: darkred;
  color:white;
  padding:10px;
  border:1px solid white;
  font-size: 18px;
  border-radius: 12px;
}
.btn-style:hover {
  background-color: #cc4444;
  color:white;
}
.border {
  border: 1px solid grey;
  width:400px;
  margin:auto;
  padding:10px;
  margin-top:20px;
  border-radius: 18px;
}
input{
  border-radius: 18px;
  padding:10px;
  margin-bottom: 10px;
}
.about {
  text-align: justify;
}
.p-10 {
  padding:10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
